.component_tag {
	@extend %button-core;
	height: 35px;
	background: white;
	font-size: 14px;
	padding: 0 16px;

	cursor: pointer;

	input[type="radio"] {
		display: none;
		position: absolute;
		z-index: -9999;
		width: 0;
		height: 0;
	}

	flex-shrink: 0;

	&:has(input:checked) {
		color: white;
		background: var(--black);
	}

	&._active {
		color: white;
		background: var(--black);

		.fill {
			fill: white;
		}

		.stroke {
			stroke: white;
		}
	}
}